/* Variables */

:root {
  --page-x-margin: 20mm;
  --page-y-margin: 15mm;
}

/* Base */

#columns {
  box-sizing: border-box;
  column-gap: 0;
  column-width: 210mm;
  height: 297mm;
  padding: 15mm 0;
  transition-duration: 300ms;
  width: 100%;
  will-change: transform;
}

#document {
  background-color: white;
  overflow: hidden;
  width: 210mm;
}

/* Html */

html {
  font-size: 10.5pt;
}

/* Body */

body {
  background-color: rgb(30, 30, 30);
  color: rgb(30, 30, 30);
  font-family: "Noto Sans", sans-serif;
  line-height: 1.36;
  margin: 0;
}

/* Pagination */

.pagination {
  display: flex;
  gap: 8px;
}

.pagination > a {
  border-color: rgb(41, 109, 251);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  color: rgb(41, 109, 251);
  display: block;
  font-size: 12px;
  padding: 10px 14px;
  text-decoration: none;
  transition-duration: 300ms;
}

.pagination > a:hover {
  background-color: rgba(41, 109, 251, 0.1);
}

/* Header */

header {
  border-bottom: 0.35mm solid rgb(30, 30, 30);
  margin-bottom: var(--page-y-margin);
  padding: 0 var(--page-x-margin) var(--page-y-margin) var(--page-x-margin);
}

header > h1 {
  font-size: 2.5rem;
  margin: 0 0 2.5mm 0;
}

header > h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

/* Main */

main {
  display: flex;
  padding: 0 var(--page-x-margin);
}

main > div:nth-child(1) {
  flex-basis: 34%;
  margin-right: 10mm;
}

main > div:nth-child(2) {
  flex-basis: 66%;
}

/* Section */

section {
  margin-bottom: 10mm;
}

section > h3 {
  background-color: rgb(216, 216, 216);
  font-size: 1rem;
  margin: 0 0 5mm 0;
  padding: 2.5mm 5mm;
}

section > h4 {
  font-size: 1rem;
  margin: 0 0 1mm 0;
}

section > h4:not(:first-of-type) {
  margin-top: 5mm;
}

section > h5 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 5mm 0;
}

section > p {
  margin: 0 0 2.5mm 0;
}

section > ul {
  margin: 0 0 2.5mm 0;
  padding-left: 10mm;
}

section > ul.icon {
  list-style: none;
  padding-left: 0;
}

section > ul.icon > li {
  margin-bottom: 2.5mm;
}

section > ul.icon > li > a {
  align-items: center;
  color: unset;
  display: flex;
  text-decoration: none;
}

section > ul.icon > li > a > svg {
  height: 5mm;
  margin-right: 2.5mm;
}

@media print {
  .pagination {
    display: none;
  }
}

@media screen {
  #document {
    border-radius: 8px;
  }
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 96px 32px;
  }
}

@page {
  margin: 0;
  size: a4;
}
